<li class="ss-list-group-item">
  <a href="/exercise/{{id}}">
    <span>{{name}}</span>
    {{!-- <div class="card-body"> --}}
      {{!-- <img src="/images/{{image_url_main}}" alt="body-part"> --}}
      {{!-- <p>Category: {{category}}</p> --}}
      {{!-- <p>Equipment: {{equipment}}</p> --}}
    {{!-- </div> --}}
  </a>
</li>
