<section class="card">
  <a href="/exercise/{{id}}">
    <header>{{name}}</header>
    <div class="card-body">
      {{!-- <img src="/images/{{image_url_main}}" alt="body-part"> --}}
      {{!-- <p>Category: {{category}}</p> --}}
      {{!-- <p>Equipment: {{equipment}}</p> --}}
    </div>
  </a>
</section>
