<li class="ss-list-group-item removeExercise" data-exId="{{id}}">
  <div class="columns">

    <div class="column is-one-fifth">
      <button class="button" data-exId="{{id}}" }><a href="/exercise/{{id}}" target="_blank">Details</a></button>
    </div>

    <div class="column is-three-fifths">
      <span>{{name}}</span>></span>
    </div>

    <div class="column is-one-fifth">
      <button class="button removeExerciseButton" data-exId="{{id}}">Remove</button>
    </div>


  </div>
</li>