{{!-- SAMPLE IDEA --}}

<section class="exercise section">
  {{!-- <img src="{{{ concat 'https://wger.de' exercise.muscles.[0].image_url_main }}}" alt="bodypart"> --}}
  <div class="muscle-background mx-auto" style="background-image: url({{{ concat 'https://wger.de' exercise.muscles.[0].image_url_main }}}),
  url({{{ muscEval exercise.muscles.[0].image_url_main }}});">
  </div>

  <div class="exercise-details">
    <h3>{{exercise.name}}</h3>
    {{!-- Category comes from Category model. This needs to be included --}}
    {{!-- {{{exercise.category}}} --}}
    {{{exercise.description}}}
    {{!-- <a href="">Link to Video</a> --}}
    {{!-- <a href="">Link to Article</a> --}}
  </div>
  <a class="button button-login" href="/login">Add Routine</a>
</section>
