 <section id="user-stats" class="section">
        <div class="container">
            <h2 class="title is-size-2">User Profile</h2>
            <div class="columns is-centered has-same-height">
                <!--Col 1-->
                <div class="column is-one-half">
                    <!--Profile-->
                   
                        <article id="followersList" class="panel card-formatting">
                            <p class="panel-heading">
                                Profile
                            </p>
                            <div class="panel-block">
                                <div id="profile" class="columns" data-userid="{{user.id}}">
                                    <div class="column is-one-quarter">
                                        <img src={{user.image}} alt="User Image">
                                    </div>
                                    <div class="column is-three-quarters">
                                        <p>First Name: <span>{{user.firstName}}</span></p>
                                        <p>Last Name: <span>{{user.lastName}}</span></p>
                                        <p>Email: <span>{{user.email}}</span></p>
                                    </div>
                                </div>
                            </div>
                            
                        </article>
                </div>
                <!--Col 2-->
                 <!--Routines-->
                <div class="column is-one-half">
                   
                        <article id="routineList" class="panel card-formatting">
                            <p class="panel-heading panel-heading-button">
                                Routines
                                <button id="newRoutine" class="button button-login card-header-button">New</button>
                            </p>
                            <div class="panel-block">
                                    
                            </div>
                        </article>
                
                </div>
            </div>

            <div class="columns is-centered has-same-height mt-4">
                <!--Col 1-->
                <!--Followers-->
                <div class="column is-one-half">
                    <article id="followersList" class="panel card-formatting">
                        <p class="panel-heading">
                            Following
                        </p>
                        <div class="panel-block">

                        </div>
                    </article>
                </div>
                <div class="column is-one-half">
                    <article id="followersList" class="panel card-formatting">
                        <p class="panel-heading">
                            Followers
                        </p>
                        <div class="panel-block">

                        </div>
                    </article>
                </div>

            </div>
                        
        </div>
</section>