<div class="container">
    <div class="columns">
        <!--Col 1-->
        <div class="column is-one-half">
            <!--Profile-->
            <div class="row">
                <nav id="followersList" class="panel card-formatting">
                    <p class="panel-heading">
                        Profile
                    </p>
                    <div id="profile" class="columns" data-userid="{{this.user.id}}">
                        <div class="column is-one-quarter">
                            <img src={{this.user.image}} alt="User Image">
                        </div>
                        <div class="column is-three-quarters">
                            <p>First Name: <span>{{this.user.firstName}}</span></p>
                            <p>Last Name: <span>{{this.user.lastName}}</span></p>
                            <p>Email: <span>{{this.user.email}}</span></p>
                        </div>
                    </div>
                </nav>
            </div>
            <!--Followers-->
            <div class="row">
                <div class="column">
                    <div>
                        <a class="panel-heading" href="/followers/{{this.user.id}}">Browse Profiles</a>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="column">
                    <nav id="followersList" class="panel card-formatting">
                        <p class="panel-heading">
                            Following
                        </p>
                        <ul class="ss-list-group">
                            {{#each this.followMap as |this|}}
                            {{> followers-details}}
                            {{/each}}
                        </ul>

                    </nav>
                </div>
            </div>
            <!--Following-->
            <div class="row">
                <div class="column">
                    <nav id="followersList" class="panel card-formatting">
                        <p class="panel-heading">
                            Followers
                        </p>
                        <ul class="ss-list-group">
                            {{#each this.leadMap as |this|}}
                            {{> followers-details}}
                            {{/each}}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <!--Col 2-->
        <div class="column is-one-half">
            <div id="routineList" class="column">
                <nav class="panel card-formatting">
                    <p class="panel-heading">
                        Routines<span id="newRoutine" class="button">New</span>
                    <ul class="ss-list-group">
                        {{#each this.user.routines as |this|}}
                        {{> user-routine-details}}
                        {{/each}}
                    </ul>
                    </p>
                </nav>
            </div>
        </div>
    </div>
</div>